node_modules/
dist/
.env
.env.*
!env/.env.dev.example
!env/.env.test.example
!env/.env.prod.example
coverage/
.tmp/
.DS_Store
pnpm-lock.yaml
npm-debug.log*
*.log
.vscode/
.idea/
*.sqlite
apps/*/dist/
apps/*/node_modules/
